/* Page styling 
============================= */
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

html { 
  box-sizing: border-box;
}

form {
  display: flex;
  justify-content: flex-end;
}

button.search,
input[type=search] {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

button.search {
  width: 7%;
  border-style: solid;
  margin-left: 5px;
}

input[type=search] {
  width: 25%;
  /* border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px; */
  border: 1px solid #ddd
}

input[type=search]:focus{
  box-shadow:0 0 4px rgb(89, 89, 146);
}

.hidden { display: none; }

.active {
	background-color: #ff4d4d;
	color :#fff;
}

table {
  width: 100%;
  border-bottom: 2px solid black;
  border-collapse: collapse;
  
}

.header {
  cursor: pointer;
  font-size: 12px;
  border-bottom: 2px solid black;
  
}

th, td {
  text-align: left;
  padding: 12px;
  
}

tr {
  font-size: 13px;
  border-bottom: #ff4d4d;
  
}

/* tr:hover {
  background-color: rgb(179, 176, 176);
} */

tr.row:nth-child(even) {
  background-color: #f2f2f2;
  border-bottom: #ff4d4d;
}

#buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  
}

input[type=button] {
  padding: 10px;
  margin: 2px;
  border: none;
  background: transparent;
  
  
  
  /* border-style: solid; */
}

input[type=button]:hover {
  background: grey;
}

input[type=button].active {
  background: grey;
}
