*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  justify-content: flex-end;
}

button.search,
input[type=search] {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

button.search {
  width: 7%;
  border-style: solid;
  margin-left: 5px;
}

input[type=search] {
  width: 25%;
  border: 1px solid #ddd
}

input[type=search]:focus{
  box-shadow:0 0 4px rgb(89, 89, 146);
}

table {
  width: 100%;
  border-bottom: 2px solid black;
  border-collapse: collapse;
  
}

.hidden { display: none; }

th, td {
  text-align: left;
  padding: 12px;
  
}


th {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  border-bottom: 2px solid black;
}

th:before,
th:after {
  border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
  width: 0;
	right: 5px;
	top: 50%;
	position: absolute;
}

th.sorted-asc:before {
  border-top: 4px solid #666;
	margin-top: 2px;
}

th.sorted-desc:after {
  border-bottom: 4px solid #666;
	margin-top: 2px;
}

th:before {
  border-bottom: 4px solid #666;
	margin-top: -9px;
}

th:after {
  border-top: 4px solid #666;
	margin-top: 2px;
}

td {
  font-size: 13px;
  border-bottom: 1px solid #E0E0E0;
  
}

tr.row:nth-child(even) {
  background-color: #f2f2f2;
}

#page-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.page-button.inactive {
  padding: 8px;
  margin: 2px;
  border: none;
  background: transparent;
}

.page-button.inactive:hover {
  background: lightgray;
  border-radius: 5px;
}


