/* Page styling 
============================= */
*,
*::after,
*::before {
  box-sizing: inherit;
}

html { 
  box-sizing: border-box;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.header {
  /* display: block;
  position: relative; */
  cursor: pointer;
}



/* th, td {
  text-align: left;
  padding: 16px;
} */

tr:nth-child(even) {
  background-color: #f2f2f2
}